---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="About Me">
    <h1 style="font-family: 'Cormorant Garamond', serif;">About Me</h1>
    <p style="color: #888; text-align: center;">这里可以写你的 PhD 申请动机和个人魅力...</p>
</MainLayout>